ion-header {
    /*border-bottom: 1px solid #f6f6f6;*/
    border-bottom: 1px solid #ebebeb;
    width: 97%;
    margin: 0px auto;
}

.add-pro-item {
    width: calc(100% - 30px);
    padding: 16px 10px 16px 0;
    position: relative;
    background-color: #E5E5E5;
    box-shadow: -2px 4px 10px 0px rgb(0 0 0 / 10%);
    border-radius: 6px;
    margin: 0 15px 20px;
    font-size: 14px;
    align-items: center;
    .pro-info {
        display: flex;
        align-items: center;
        font-family: var(--font-Poppins-Reguler);
        color: var(--ion-product-name-color);
        h6 {
            margin: 0 0 10px;
            text-transform: uppercase;
            word-break: break-word;
            font-family: var(--font-Poppins-Reguler);
            color: var(--ion-product-name-color);
            font-size: 15px;
        }
        ion-thumbnail {
            width: 48px;
            margin-right: 8px;
            flex-shrink: 0;
        }
        .pro-info-in {
            line-height: 21px;
            label {
                font-weight: 500;
                font-size: 15px;
            }
        }
    }
    .price {
        font-family: var(--font-Poppins-Reguler);
        font-weight: 500;
        flex-direction: column;
        color:var(--text-price-color);
        font-size: 15px;
    }
}

.ord-list {
    padding:20px 0 0 0;
    font-family: var(--font-Poppins-Reguler);
    .add-pro-item {
        margin-top: 20px;
        .view-btn {
            text-align: center;
            background: linear-gradient(133deg, #e46c7e, #76323F);
            outline: none;
            font-size: 10px;
            color:#fff;		
            font-weight: 500;
            width: 62px;
            height: 28px;
            border-radius:3px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.3);
            text-transform: uppercase;
            margin-top: 6px;
        }
    }
}
