ion-header {
    /*border-bottom: 1px solid #f6f6f6;*/
    border-bottom: 1px solid #ebebeb;
    width: 97%;
    margin: 0px auto;
    ion-button {
        --background: transparent;
        --color: var(--color);
        --padding-start: 0;
        --padding-end: 0;
        margin: 0;
        font-size: 25px;
        height: fit-content;
    }
    ion-title {
        h2 {
            font-family: var(--font-Poppins-SemiBold);
            color:var(--color);
            font-size: 22px;
            line-height: 24px;
            margin: 0px;
            text-transform: capitalize;
        }
        h6 {
            font-family: var(--font-NeueHaasUnica-Regular);
            color:var(--color);
            font-size: 16px;
            line-height: 18px;
            margin: 0px;
        }
    }
}
.cart-total {
    max-width: 600px;
    width: 97%;
    margin: 0px auto;
    padding: 22px 0px 12px;
    font-family: var(--font-Poppins-SemiBold);
    ion-col {
        padding: 0px;
    }
    h6 {
        font-size: 20px;
        line-height: 22px;
        color: #000;
        font-family: var(--font-NeueHaasUnica-Regular);
        margin: 0px;
        padding: 0px;
    }
    .price {
        width: 100%;
        text-align: right;
        font-size: 24px;
        line-height: 26px;
        color: #000;
        font-family: var(--font-Poppins-SemiBold);
        margin: 0px;
        padding: 0px;
    }
    p {
        font-size: 14px;
        line-height: 16px;
        color: #000;
        font-family: var(--font-Poppins-Regular);
        margin: 0px;
        padding: 0px;
    }   
}

.add-pro-list {
    max-width: 600px;
    width: 100%;
    padding: 0px;
    margin: 0px auto;
    .add-pro-item {
        width: 100%;
        width: 97%;
        margin: 12px auto 32px;
        padding: 0px;
        position: relative;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0px;
        .close-btn {
            position: absolute;
            top: -5px;
            right: -5px;
            background: #fff;
            border-radius: 50%;
            border: 1px solid var(--tab-selected);
            font-size:17px;
            display: none;
        }
        .pro-info {
            display: flex;
            padding: 0px;
            .pro-info-in {
                width: 100%;
                display: flex;
                flex-flow: column;
                justify-content: space-around;
                align-items: flex-start;
            }
            h6 {
                font-size: 18px;
                line-height: 20px;
                color: #000;
                font-family: var(--font-Poppins-Medium);
                margin: 0 0 10px;
                text-transform: capitalize;
                word-break: break-word;
            }
            ion-thumbnail {
                width: 100px;
                height: 100%;
                margin-right: 8px;
                flex-shrink: 0;
                ion-img {
                    width: 100%;
                    height: 85px;
                    object-fit: cover;
                    object-position: center;
                    background-color: #cfcfcf;
                    border-radius: 8px;
                }
            }
            .pro-quantity-input{
                font-family: var(--font-Poppins-Medium);
                background: #cfcfcf;
                box-shadow: none;
                padding: 5px 0;
                border-radius: 4px;
                height: 42px;
                width: 120px;	
                display: flex;
                flex-flow: row;
                justify-content: space-around;			
                align-items: center;
                input {
                    border:none; background:none;
                    &:focus{outline: none;}
                    &.input-number {
                        width:20px;	
                        height: calc(100% - 10px);
                        background: transparent;
                        color:#000;
                        font-size: 19px;
                        text-align: center;
                        
                    }
                    &.minus, &.plus {
                        font-size: 24px;
                        color: #000;
                        width:26px;
                        height: calc(100% - 10px);
                        text-align:center;
                        padding:0;
                        line-height: 1;
                    }
                    &.plus {
                        font-size: 19px;
                    }
                }
            }
        }  
        .price-delete {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: flex-end;
            .price {
                font-family: var(--font-Poppins-Medium);
                font-size: 22px;
                line-height: 24px;
                color: #000;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                padding: 0px;
            }
            ion-icon {
                width: 28px;
                height: 28px;
                line-height: 28px;
                color: #ffffff;
                border: 1px solid #e60024;
                border-radius: 6px;
                padding: 6px;
                background-color: #e60024;
            }
        }
    }
}

.btns {
    max-width: 600px;
    width: 97%;
    padding: 0px;
    margin: 50px auto 0px;
    text-align: center;
    ion-button {
        width: 100%;
        margin: 0px auto !important;
        &.checkout-btn {  
            height: 55px;
            border-radius: 5px;
            --border-radius: 5px;
            font-family: var(--font-Poppins-SemiBold);
            font-size: 20px;
            background-color: #75313f;
            --background: #75313f;
            border: 2px solid #6f3739;
            color: #fff;
            text-transform: capitalize;
            --background-hover: #75313f;
            --background-activated: #75313f;
            --background-focused: #75313f;
        }
        &.border-btn {
            --background: transparent;
            color: #75313f;
            --background-hover: #fff;
            --background-activated: #fff;
            --background-focused: #fff;
        }
    }
}
// .price {
//     font-family: var(--font-Poppins-Reguler);
//     color:var(--ion-product-name-color); 
//     font-weight:500;
//     text-align: right;
// }